/* general
-------------------------------------------------- */
body {
    background-color: #EFEFEF;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#root {
    padding: 20px;
}

input {
    font-size: 18px;
}

.active {
    font-weight: bold;
}

.form-block {
    display: block;
    margin-bottom: 10px;
}

.pretty-btn {  
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}

/* popup
-------------------------------------------------- */
.popup {
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popup a {
    margin-right: 5px;
}

.popup__buttons a {
    background-color: blue; 
    border: none;
    color:white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}

.popup__buttons {
    margin-top: 10px;
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    text-align: center;
    text-decoration: none;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
}
    
.popup__close:hover {
    background: red;
}

/* photo-uploader
-------------------------------------------------- */
.photo-uploader__photo-shooter {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 15px;
    border: 1px solid #B3B3B3;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    margin-bottom: 20px;
}

.photo-uploader__upload-area {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 15px;
    border: 1px solid #B3B3B3;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.photo-uploader__added-file {
    margin: 10px 0;
}

.photo-uploader__preview {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-uploader__preview.orientation-6 {
    transform: rotate(90deg);
}

.photo-uploader__preview.orientation-8 {
    transform: rotate(270deg);
}

/* gathering
-------------------------------------------------- */
.new-gathering-btn {
    background-color: blue; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.gathering-list {
    display: inline-block;
    font-weight: bold;
    color: blue;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}

.gathering-photo {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 1px solid #CDCDCD;
    display: block;
    outline: none;
}
